{% extends 'base.html.twig' %}

{% block title %}Black Mirror - Home{% endblock %}

{% block body %}
    <div class="masthead mt-5"></div>

    <div class="container">
        <section id="introduction">
            <h4 class="text-center">INTRODUCTION</h4>
            <p class="text-center">
                Black Mirror is a British science fiction anthology television series created by Charlie Brooker, with Brooker and Annabel Jones serving as the programme showrunners. It examines modern society, particularly with regard to the unanticipated consequences of new technologies. Episodes are standalone, usually set in an alternative present or the near future, often with a dark and satirical tone, though some are more experimental and lighter.
                <br /><br />Black Mirror was inspired by older anthology series like The Twilight Zone, which were able to deal with controversial, contemporary topics without fear of censorship. Brooker developed Black Mirror to highlight topics related to humanity's relationship to technology, creating stories that feature "the way we live now – and the way we might be living in 10 minutes' time if we're clumsy."
                <br /><br />The series premiered for two series on the British television channel Channel 4 in December 2011 and February 2013, respectively. After its addition to the catalogue in December 2014, Netflix purchased the programme in September 2015. It commissioned a series of 12 episodes later divided into the third and fourth series, each six episodes; the former was released on 21 October 2016 and the latter on 29 December 2017. A fifth series was announced on 5 March 2018. A standalone interactive film titled Black Mirror: Bandersnatch was released on 28 December 2018.
                <br /><br />The series has garnered positive reception from critics, received many awards and nominations, and seen an increase in interest internationally, particularly in the United States after its addition to Netflix. Two episodes, "San Junipero" (from the third series) and "USS Callister" (fourth series), won a total of six Emmy Awards, with both episodes winning Outstanding Television Movie.
            </p>
            <h4 class="text-center mt-4"><a href="https://www.netflix.com/title/70264888" target="_blank" class="btn btn-lg btn-danger col-md-6">Watch it on Netflix !</a></h4>
        </section>
        <section id="episodes">
            <h2 class="text-center mb-4">EPISODES</h2>

            <h4 class="text-center">SEASON 1</h4>
            <div class="row">
                {% for episode in episodes if episode.season == 1 %}
                <div class="col-md-4 col-sm-6">
                    <a href="{{ path('episode_show', {'slug' : episode.slug}) }}" alt="Show episode">
                        <div class="episode mx-1 my-3 text-center">
                            <p>
                                <span class="badge badge-dark">Season {{ episode.season }}</span> 
                                <span class="badge badge-dark">Episode {{ episode.number }}</span>
                                <br/>{{ episode.name }}
                            </p>
                            <div>
                                <img src="{{ asset(episode.imgPath ~ 'thumbnail/' ~  episode.imgName) }}" alt="{{ episode.name }}" />
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <h4 class="text-center">SEASON 2</h4>
            <div class="row">
                {% for episode in episodes if episode.season == 2 %}
                <div class="col-md-4 col-sm-6">
                    <a href="{{ path('episode_show', {'slug' : episode.slug}) }}">
                        <div class="episode mx-1 my-3 text-center">
                            <p>
                                <span class="badge badge-dark">Season {{ episode.season }}</span> 
                                <span class="badge badge-dark">Episode {{ episode.number }}</span>
                                <br/>{{ episode.name }}
                            </p>
                            <div>
                                <img src="{{ asset(episode.imgPath ~ 'thumbnail/' ~  episode.imgName) }}" alt="{{ episode.name }}" />
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <h4 class="text-center">SEASON 3</h4>
            <div class="row">
                {% for episode in episodes if episode.season == 3 %}
                <div class="col-md-4 col-sm-6">
                    <a href="{{ path('episode_show', {'slug' : episode.slug}) }}">
                        <div class="episode mx-1 my-3 text-center">
                            <p>
                                <span class="badge badge-dark">Season {{ episode.season }}</span> 
                                <span class="badge badge-dark">Episode {{ episode.number }}</span>
                                <br/>{{ episode.name }}
                            </p>
                            <div>
                                <img src="{{ asset(episode.imgPath ~ 'thumbnail/' ~  episode.imgName) }}" alt="{{ episode.name }}" />
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <h4 class="text-center">SEASON 4</h4>
            <div class="row">
                {% for episode in episodes if episode.season == 4 %}
                <div class="col-md-4 col-sm-6">
                    <a href="{{ path('episode_show', {'slug' : episode.slug}) }}">
                        <div class="episode mx-1 my-3 text-center">
                            <p>
                                <span class="badge badge-dark">Season {{ episode.season }}</span> 
                                <span class="badge badge-dark">Episode {{ episode.number }}</span>
                                <br/>{{ episode.name }}
                            </p>
                            <div>
                                <img src="{{ asset(episode.imgPath ~ 'thumbnail/' ~  episode.imgName) }}" alt="{{ episode.name }}" />
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </section>
    </div>
{% endblock %}
