{% extends 'base.html.twig' %}

{% block title %}Black Mirror - {{ episode.name }}{% endblock %}

{% block body %}
    <div class="episodeDetails">
        <p>Name : {{ episode.name }}</p>
        <p>Season : {{ episode.season }}</p>
        <p>Number : {{ episode.number }}</p>
        
        <h4>Summary :</h4>
        {{ episode.summary | raw }}

        <p>Runtime : {{ episode.runtime }} min</p>
        <div>
            <img src="{{ episode.imgPath }}" alt="{{ episode.name }}" />
        </div>
    </div>
{% endblock %}
