{% extends 'base.html.twig' %}

{% block title %}Black Mirror - {{ episode.name }}{% endblock %}

{% block body %}
<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ asset(episode.imgPath ~ episode.imgName) }}" alt="{{ episode.name }}" width="100%" />
        </div>
        <div class="col-md-6 py-4">
            <h2>{{ episode.name }}</h2>
            <p>Season {{ episode.season }} | Episode {{ episode.number}}</p>
            {{ episode.summary | raw }}
            <p>Runtime : {{ episode.runtime }} min</p>
        </div>
    </div>
</div>
{% endblock %}
